aside {
  display: flex;
  flex-direction: column;

  max-width: 30.125rem;
  width: 30.125rem;

  max-height: 14rem;
  height: 14rem;

  padding-left: 8.75rem;

  & div.infoBox {
    max-width: inherit;
    width: inherit;

    & h2 {
      font: bold 1.25rem/150% var(--ff-rbt-flex);
      text-transform: uppercase;
      padding-bottom: 0.125rem;
    }

    & p {
      font: var(--par-lg);
      color: var(--content-secondary);

      padding-bottom: 2.5rem;
    }
  }

  & div.inputTNumber {
    text-align: center;

    & span:nth-child(2) {
      padding-inline: 0.75rem;
    }

    & div {
      display: flex;
      flex-direction: column;

      &:hover,
      &:focus {
        color: var(--content-brand);
      }

      & input {
        background: var(--background-secondary);

        &:hover {
          border: 1px solid var(--content-brand);
        }

        &:focus {
          outline: 0;
          border: 2px solid var(--content-brand);
        }
      }
    }
  }

  & span {
    text-transform: uppercase;
    padding-bottom: 0.5rem;

    font: var(--label-sm);
    color: #c7c9cc;

    position: relative;
  }

  & input[type="text"] {
    max-width: 5.375rem;
    width: 5.375rem;

    max-height: 3.5rem;
    height: 3.5rem;

    border: none;
    border-radius: 8%;

    color: white;
    font: var(--display-sm);
    text-align: center;
  }

  & .toggleButton {
    padding-top: 1.25rem;
  }

  & label.switch {
    position: relative;
    display: inline-block;
    width: 1.875rem;
    height: 1.25rem;

    & input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    & .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 1rem;

      &:before {
        position: absolute;
        content: "";
        height: 0.875rem;
        width: 0.875rem;
        top: 0.16rem;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }

      &.round {
        border-radius: 1rem;

        &:before {
          border-radius: 50%;
        }
      }
    }

    & input:checked + .slider {
      background: var(--gradient-background);
    }

    & input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    & input:checked + .slider:before {
      -webkit-transform: translateX(0.8rem);
      -ms-transform: translateX(0.8rem);
      transform: translateX(0.8rem);
    }
  }

  & #doNotRepeatNumberText {
    padding-left: 0.3rem;
    font: 0.9rem/150% "Inter", sans-serif;
  }

  & .toRaffleNumberButton {
    max-width: 30.125rem;
    width: 30.125rem;
    max-height: 3.5rem;
    height: 3.5rem;

    padding-top: 2.5rem;

    & button {
      max-width: inherit;
      width: inherit;
      max-height: inherit;
      height: inherit;

      border: 0;
      border-radius: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row-reverse; /* Tá servindo pra basicamente colocar o ícone de seta para a direita e o texto na esquerda ;) */

      font: var(--label-sm);
      color: var(--content-primary);
      text-transform: uppercase;

      background: var(--background-tertiary);

      position: relative;

      &::before {
        content: "";
        position: absolute;
        border-radius: inherit;
        inset: 2px;
        background: var(--background-tertiary);
      }

      &::after {
        content: attr(aria-label);
        z-index: 1;
      }

      & img {
        padding-inline: 0.5rem;
        z-index: 1;
      }

      &:hover {
        cursor: pointer;
        background: var(--gradient-border);

        &::before {
          content: "";
          border-radius: inherit;
          inset: 2px;
          background: var(--background-secondary);
        }

        &::after {
          content: attr(aria-label);
          z-index: 1;
        }
      }

      & .raffleAgain {
        animation: displayNone 5s linear forwards;
      }
    }
  }

  & .resultBox {
    flex-direction: column;
    justify-content: right;

    max-width: 30.125rem;
    width: 30.125rem;

    max-height: 18.375rem;
    height: 18.375rem;

    & h1 {
      display: flex;
      justify-content: center;

      padding-bottom: 0.25rem;

      font: var(--label-md);
      color: var(--content-primary);

      text-align: center;
      text-transform: uppercase;
    }

    & small {
      font: var(--overline);
      color: var(--content-primary);

      text-align: center;
      text-transform: uppercase;
    }

    & .numbers {
      display: flex;
      justify-content: center;

      margin-block: 2.5rem;

      & div {
        border-radius: 28px;
        background-color: var(--content-brand);
        color: black;

        animation: drawAnimation 5s ease-in-out forwards;

        & span {
          animation: textColorChange 5s linear forwards;
        }
      }

      & div {
        text-align: center;

        max-width: 6.25rem;
        width: 6.25rem;
        max-height: 6.25rem;
        height: 6.25rem;

        margin-block: 2.5rem;
        justify-content: center;
        align-content: center;

        & span,
        p {
          color: var(--content-brand);
          font: bold 3rem/150% var(--ff-rbt-mono);
        }
      }
    }
  }
}

@media (max-width: 25rem) {
  aside {
    max-width: 20.5rem;
    width: 20.5rem;

    padding: 0;
    margin-top: 2.625rem;

    & .toRaffleNumberButton {
      max-width: 19.9375rem;
      width: 19.9375rem;
    }
  }
}

@keyframes drawAnimation {
  0% {
    background-color: var(--content-brand);
    transform: rotate(0deg);
    margin-inline: 0;
  }

  5% {
    background-color: var(--content-brand);
    transform: rotate(18deg);
    margin-inline: 0.3125rem;
  }

  15% {
    background-color: var(--content-brand);
    transform: rotate(36deg);
    margin-inline: 0.3125rem;
  }

  25% {
    background-color: var(--content-brand);
    transform: rotate(-54deg);
    margin-inline: 0.3125rem;
  }

  35% {
    background-color: var(--content-brand);
    transform: rotate(-72deg);
    margin-inline: 0.3125rem;
  }

  45% {
    background-color: var(--content-brand);
    transform: rotate(0deg);
    margin-inline: 0.3125rem;
  }

  55% {
    background-color: var(--content-brand);
    transform: rotate(108deg);
    margin-inline: 0.3125rem;
  }

  65% {
    background-color: var(--content-brand);
    transform: rotate(126deg);
    margin-inline: 0.3125rem;
  }

  75% {
    background-color: var(--content-brand);
    transform: rotate(-144deg);
    margin-inline: 0.3125rem;
  }

  85% {
    background-color: var(--content-brand);
    transform: rotate(-162deg);
    margin-inline: 0.3125rem;
  }

  95% {
    background-color: var(--content-brand);
    transform: rotate(180deg);
    margin-inline: 0.3125rem;
  }

  100% {
    background-color: transparent;
    transform: rotate(0deg);
    margin-inline: 0;
  }
}

@keyframes textColorChange {
  0% {
    color: var(--content-brand);
  }

  35% {
    color: black;
  }

  45% {
    color: black;
  }

  55% {
    color: black;
  }

  65% {
    color: black;
  }

  75% {
    color: black;
  }

  85% {
    color: black;
  }

  95% {
    color: black;
  }

  100% {
    color: var(--content-brand);
  }
}

@keyframes displayNone {
  0% {
    display: none;
  }

  100% {
    display: flex;
  }
}