footer {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5rem;

    & #errorInfoBox {
        background-color: #4A2121;

        max-width: 440px;
        width: 600px;
        max-height: 2.200rem;
        height: 2.200rem;

        border-radius: 0.5625rem;

        & p {
            font: var(--infoBox-msg);
            padding-left: 0.5625rem;

        }

        & #closeErrorInfo { 
            background: none;
            border: none;

            color: white;
            font: var(--x-btn);
            padding-left: 0.6875rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    & #successInfoBox {
        background-color: #256B34;

        max-width: 12.5rem;
        width: 12.5rem;

        max-height: 1.8125rem;
        height: 1.8125rem;

        border-radius: 0.5625rem;

        & p{
            font: var(--infoBox-msg);
            padding-left: 0.5625rem;
        }

        & #closeSuccessInfo {
            background: none;
            border: none;

            color: white;
            font: var(--x-btn);
            padding-left: 0.625rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}