*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Content */
    --content-primary:  #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* Background */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    /* Accent */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0A;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* Gradient */
    --gradient-border: linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background: linear-gradient(#D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);

    /* Fonts*/
    --ff-sora: "Sora", sans-serif;
    --ff-rbt-mono: "Roboto Mono", sans-serif;
    --ff-rbt-flex: "Roboto Flex", sans-serif;

    --display-l: bolder 4.5rem/130% var(--ff-sora);
    --display-md: bolder 2.5rem/130% var(--ff-sora);
    --display-sm: bold 2rem/130% var(--ff-sora);

    --overline: bold 1rem/150% var(--ff-rbt-mono);

    --par-l: 500 1rem/150% var(--ff-rbt-flex);
    --par-md: 500 0.875rem/150% var(--ff-rbt-flex);
    --par-sm: 500 0.75rem/150% var(--ff-rbt-flex);
    --label-md: bold 1.25rem/150% var(--ff-rbt-flex);
    --label-sm: bold 1rem/150% var(--ff-rbt-flex);

}

body {
    background-color: var(--background-primary);
    background-image: url(../assets/background.png);
    color: var(--content-primary);
}

header {
    display: flex;
    justify-content: left;

    padding-inline: 7.5rem;
    padding-block: 4.75rem;

    font: bolder 1.5rem/130% var(--ff-sora);

    & span {
        align-self: center;
        padding-left: 0.6875rem;

        text-transform: uppercase;
    }
}