section {
  display: flex;
  justify-self: center;
  /* align-self: center; */

  max-width: 68.625rem;
  width: 68.625rem;

  & main {
    max-width: 34.75rem;
    width: 34.75rem;

    & small {
      font: var(--overline);

      background-image: var(--gradient-content);
      background-clip: text;
      -webkit-background-clip: text;

      text-transform: uppercase;

      -webkit-text-fill-color: transparent;

      padding-bottom: 0.75rem;

      color: #c7c9cc;
    }

    & h1 {
      max-width: inherit;
      width: inherit;

      display: flex;
      flex-wrap: nowrap;

      font: var(--display-l);
      text-transform: uppercase;

      padding-bottom: 2.375rem;
    }

    & .questions {
      padding-right: 7.625rem;

      & .questionOne,
      .questionTwo {
        display: flex;
        flex-wrap: wrap;

        & img {
          filter: invert(30%) sepia(80%) saturate(1000%) hue-rotate(200deg)
            brightness(100%) contrast(100%);
        }

        & h3 {
          font: var(--par-md);
          color: var(--content-brand);

          padding-left: 0.5rem;
        }

        & p {
          font: var(--par-sm);
          color: var(--content-secondary);

          padding-left: 2rem;
        }
      }

      & .questionTwo {
        padding-top: 2.25rem;
      }
    }
  }
}