section {
    display: flex;
    justify-self: center;
    /* align-self: center; */

    max-width: 68.625rem;
    width: 68.625rem;

    & main {
        max-width: 34.75rem;
        width: 34.75rem;

        & small {
            font: var(--overline);

            background-image: var(--gradient-content);
            background-clip: text;
            -webkit-background-clip: text;

            text-transform: uppercase;

            -webkit-text-fill-color: transparent;

            padding-bottom: 0.75rem;

            color: #C7C9CC;
        }

        & h1 {
            max-width: inherit;
            width: inherit;

            display: flex;
            flex-wrap: nowrap;

            font: var(--display-l);
            text-transform: uppercase;

            padding-bottom: 2.375rem;
        }

        & .questions {
            padding-right: 7.625rem;

            & .questionOne, .questionTwo {
                display: flex;
                flex-wrap: wrap;

                & img {
                    filter: invert(30%) sepia(80%) saturate(1000%) hue-rotate(200deg) brightness(100%) contrast(100%);
                }

                & h3 {
                    font: var(--par-md);
                    color: var(--content-brand);

                    padding-left: 0.5rem;
                }

                & p {
                    font: var(--par-sm);
                    color: var(--content-secondary);

                    padding-left: 2rem;
                }
            }

            & .questionTwo {
                padding-top: 2.25rem;
            }

        }
    }
}

aside {
    max-width: 30.125rem;
    width: 30.125rem;

    padding-block: 2.125rem;
    padding-left: 6.75rem;

    & div.infoBox {
        max-width: inherit;
        width: inherit;

        & h2 {
            font: bold 1.25rem/150% var(--ff-rbt-flex);
            text-transform: uppercase;
            padding-bottom: 0.125rem;
        }

        & p {
            font: var(--par-lg);
            color: var(--content-secondary);

            padding-bottom: 2.5rem;
        }
    }

    & div.inputTNumber {
        display: flex;
        text-align: center;

        & div:nth-child(2) {
            padding-inline: 0.75rem;
        }
    }

    & h4 {
        text-transform: uppercase;

        font: var(--label-sm);
        color: #C7C9CC;
    }

    & input[type="text"] {
        max-width: 5.375rem;
        width: 5.375rem;

        max-height: 3.5rem;
        height: 3.5rem;

        background-color: var(--background-secondary);
        
        border: none;
        border-radius: 8%;

        color: white;
        font: var(--display-sm);
        text-align: center;
    }
}